@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica;
  transition: 0.2s all ease;
  scroll-behavior: smooth;
}
body {
  color: #000;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "nav", "main";
  grid-template-rows: 1fr 12fr;
}
nav {
  position: relative;
  grid-area: "nav";
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #9e9e9e55;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  height: 100%;
}
nav ul li {
  padding: 1rem;
  list-style: none;
}
nav ul li:nth-child(1) {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}
nav ul li:nth-child(2) button {
  background-color: transparent;
  border: none;
  outline: none;
}
#utils {
  height: 100%;
  display: flex;
  align-items: center;
}
#utils li {
  height: 100%;
  display: flex;
  align-items: center;
}
#utils li button {
  border: none;
  outline: none;
  background: transparent;
}
#utils li:nth-child(1) {
  border: none;
}
#utils li button:focus,
#account:active {
  color: royalblue;
}
.accountMenu {
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 1%;
  height: fit-content;
  border: 1px solid #33333355;
  display: none;
}
.accountMenu ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.accountMenu ul li {
  padding: 1rem;
  text-align: center;
  transition: 0.2s all ease;
}
.accountMenu ul li button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.2s all ease;
}
.accountMenu ul li button:hover {
  color: royalblue;
}
.accountMenu ul li:nth-child(1) {
  border-inline: none;
  border-bottom: 1px solid #33333355;
}
.accountMenu ul li:nth-child(2) button {
  color: red;
}
.accountMenu ul li:nth-child(2) button:hover {
  color: royalblue;
}
.logo {
  font-weight: bold;
  font-size: 1.2rem;
}
main {
  overflow: hidden;
  grid-area: "main";
  display: flex;
  grid-template-areas: "content";
}
main ul {
  grid-area: "content";
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-flow: wrap;
  overflow: scroll;
  counter-reset: 0;
  align-items: center;
}
main ul li {
  list-style: none;
  text-wrap:nowrap;
  height: fit-content;
  width: 25rem;
  border-radius: 12px;
  border: 1px solid #9e9e9e55;
  padding: 1rem;
  counter-increment: count 1;
}
main ul li h1 {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-family: Helvetica;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main ul li div {
  text-align: right;
  padding: 1rem;
  border-top: 1px solid #9e9e9e55;
}
main ul li div p {
  opacity: .5;
  height: 3rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: justify;
}
main ul li div button {
  padding: 0.5rem 1rem;
  background-color: #9e9e9e22;
}
main ul li h1::before{
  content: counter(count)' . ';
  font-size: 1.5rem;
  opacity: .5;
  border-radius: 100%;
}
#dialog {
  background-color: #ffffff;
  color: #222;
  text-align: left;
  height: 50vh;
  min-width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border: 1px solid #9e9e9e55;
  border-radius: 0.5rem;
  position: relative;
  transition: none;
}
#dialog > *{
  transition: none;
}
#dialog p {
  padding: 1rem;
  height: 70%;
  overflow: auto;
  text-wrap: wrap;
  text-align: justify;
}
#dialog button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #9e9e9e22;
  color: #9e9e9e;
}
#dialog button:nth-child(1):hover{
  color: royalblue;
}
#dialog form{
  width: 100%;
  height: 20%;
  border-top: 1px solid #9e9e9e55;
  display: flex;
  align-items: center;
  justify-content: end;
}
#dialog input {
  border: 1px solid #9e9e9e55;
  border-radius: 2px;
  padding: 0.35rem 0.5rem;
  margin-right: 12px;
}
#dialog::backdrop {
  background: #00000022;
  backdrop-filter: blur(1rem);
}
#dialog.dark-mode{
  background-color: #222;
  color: #fff;
}
.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:checked + .slider:before {
  transform: translateX(22px);
  background-color: #222;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#back {
  margin: 0;
  color: #9e9e9e;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  transition: 0.2s all ease-in-out;
}
#start-quiz {
  margin-left: 1rem;
  background-color: green;
  color: #fff;
}
#know-more {
  color: #9e9e9e;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  transition: 0.2s all ease-in-out;
}
#know-more:hover,
#back:hover {
  color: royalblue;
}
.start-quiz-dialog {
  margin: 0.5rem 0;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: end;
}
.dark-mode,
.dark-mode > * {
  border-color: #ffffff22;
  background-color: #222;
  color: #fff;
}
