*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
  transition: .5s all linear;
}

body{
  min-height: 100vh;
  max-height: fit-content;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10vh;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border: 1px solid #33333355;
  border-radius: 12px;
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 12px;
  margin-bottom: 12px;
  transition: display .5s linear;
}
form p {
  font-size: .7rem;
  color: red;
  display: none;
}
input[type=text]{
  padding: 8px 4px;
  border: 1px solid #33333355;
  border-radius: 4px;
}
input[type=submit]{
  padding: 8px 0;
  border-radius: 4px;
  background-color: royalblue;
  outline: none;
  border: none;
  color: #fff;
}
table tr:first-child{
  background-color: #c8c8c855;
}
table{
  border-collapse: collapse;
}
table tr th{
  padding: .2rem 1rem;
  text-align: left;
  border: 1px solid #33333355;
}
table tr td{
  padding: .2rem 1rem;
  border: 1px solid #33333355;
  background-color: #fff;
}
#del , #edit{
  height: 1rem;
  width: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 1rem;
  cursor: pointer;
}
#del i{
  color: red;
}
#quantity-updater{
  padding: 0;
  margin: 0;
  width: fit-content;
  border: none;
  outline: none;
  font-size: 1rem;
}
.name{
  width: 100%;
  position: relative;
}
.name input{
  width: 100%;
}
#tick, #cross{
  margin: 0 4px;
  position: absolute;
  top: 50%;
  right: 5%;
  text-align: center;
  transform: translateY(-50%);
}
#tick{
  padding: 0;
  margin: 0;
  color: green;
  display: none;
}
#cross{
  padding: 0;
  margin: 0;
  color: red;
  display: none;
}
.updateAndSave{
  width: 100%;
  display: none;
  justify-content: space-around;
}
.updateAndSave *{
  padding: 8px 12px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: royalblue;
  color: #fff;
}