* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}
h1 {
  font-size: 6rem;
}
#table{
  height: 10rem;
  overflow-y: scroll;
  border: 1px solid #9e9e9e55;
}
table{
  border-collapse: collapse;
  border: 1px solid #9e9e9e55;
  position: relative;
  padding: 1rem;
}
thead{
  backdrop-filter: blur(1rem);
  position: sticky;
  top: 0;
}
tbody tr td,
thead th {
  width: 10rem;
  height: 1rem;
  text-align: left;
  padding: 0.5rem 0.5rem;
  border: 1px solid #9e9e9e55;
}
.highlighted {
  background-image: radial-gradient(rgba(65, 105, 225, 0.466), royalblue);
  font-weight: bold;
  color: #fff;
  box-shadow: 0 0 1rem rgba(65, 105, 225);
}
button {
  height: 2.5rem;
  aspect-ratio: 4/1;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  transition: scale 0.2s ease-in-out;
}
button:hover {
  scale: 1.05;
}
button:active {
  scale: 0.99;
}
