<div class="h-full p-4">
  <nav class="h-full flex flex-col justify-between">
    <div class="text-center">Quizzer</div>
    <ul class="text-center divide-y divide-slate-300">
      <li class="p-4"><a routerLink="addEditQuiz" routerLinkActive="active">Add/Edit quiz</a></li>
      <li class="p-4"><a routerLink="leaderBoard" routerLinkActive="active">Leader board</a></li>
      <li class="p-4"><a routerLink="userManagement" routerLinkActive="active">User management</a></li>
      <li class="p-4"><a routerLink="account" routerLinkActive="active">Settings</a></li>
    </ul>
    <button >Log out</button>
  </nav>
</div>
  
